:root {
    --borderColor: #1270af;
    --textBgColor: rgb(216, 216, 216);
    --textColor: black;
    --mainBgColor: silver;
    --mainBgColorTransp: rgba(192, 192, 192, 0);
    --selected: lightblue;
    --perfect: chartreuse;
    --works: rgb(93, 187, 187);
    --ratherNot: rgb(214, 88, 88);
}

body {
    background-color: var(--mainBgColor);
    font-size: 16pt;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

button {
    font-size: 16pt;
}

input {
    font-size: 16pt;
}