#mainHeader {
    position: absolute;
    color: black;
    background-color: silver;
    background-image: linear-gradient(var(--mainBgColor) 45%, var(--borderColor) 50%, var(--mainBgColor) 90%);
    inset: 0 0 auto 0;
    height: 7rem;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

#infoParagraph {
    color: var(--textColor);
    position: absolute;
    background-color: var(--textBgColor);
    height: 30%;
    width: 50%;
    font-size: 15pt;
    inset: 20% 20% auto auto;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0px 0px 10px 15px var(--mainBgColor) inset;
}