.cell {
    background-color: white;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#tierSelector {
    position: absolute;
    inset: 20% auto auto 2rem;
    display: grid;
    grid-auto-flow: row;
    padding: 2rem 2rem 2.5rem 2rem;
    box-shadow: 0 0 10px 10px var(--mainBgColor) inset;
}
.selected {
    background-color: lightblue;
}
.perfect {
    background-color: chartreuse;
}
.works {
    background-color: rgb(93, 187, 187);
}
.ratherNot {
    background-color: rgb(214, 88, 88);
}


#tierSelector input {
    font: inherit;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid black;
    border-radius: 50%;
    margin-top: 1rem;
    transform: translateY(1rem);
    display: grid;
    place-content: center;
}

td {
    user-select: none;
    padding: 0.2em;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

table {
    display: block;
    white-space: nowrap;
    max-width: 60%;
    width: fit-content;
    max-height: 40rem;
    overflow: scroll;
}

#meetingContainer {
    position: absolute;
    inset: 20% 4rem auto auto;
}