#navbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    background-color: rgb(113, 86, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: silver;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    font-size: larger;
    white-space: nowrap;
    border-width: 2px;
    border-color: transparent;
    border-style: ridge;
    border-radius: 50%;
    background: darkblue;
    transition: transform 0.5s ease;
}

.link:hover {
    transform: scale(1.2);
}